@model TicketStore.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "_ClientLayout";
}

<h1 class="text-center">Access Denied</h1>

<hr />
<div class="row justify-content-center">
    <img width="300" src="/lib/images/noaccess.png" />
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
