@model TicketStore.Models.User

@{
    ViewData["Title"] = "Login";
    //Layout = "_LoginRegisterLayout";
}


<h1 class=" mainFont text-center">My Account </h1>

<hr />
<div class="container justify-content-center text-center">
    <br />
    <h2 class="mainFont">Login</h2>
    <div class="row justify-content-center">

        <div class="col-md-4">
            @if (ViewData["error"] != null)
            {
                <div class="alert alert-danger">
                    @ViewData["error"]
                </div>
            }
            <form asp-action="Login" asp-controller="Users" asp-route-returnurl='@Context.Request.Query["ReturnUrl"]' method="post">
                <h6 class=" loginFont"> Please enter your email and password to access your account </h6>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" clas="control-label"></label>
                    <input asp-for="Email" class="form-control loginFont" placeholder="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control loginFont" placeholder="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>
    <div>
        Not registered?
        <a asp-action="Register">Click here</a> to Register
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
