@model TicketStore.Models.User;
@{
    ViewData["Title"] = "Welcome";
    if (Context.User.Claims.Any())
    {
        if (Context.User.Claims.First(c => c.Type == "Role").Value.Equals("Admin"))
        {
            Layout = "_AdminLayout";
        }
        else
        {
            Layout = "_Layout";
        }

    }
    else
    {
        Layout = "_Layout";
    }
}

<br />
<br />
<br />
<br />
<br />
<head>
    <title>Details</title>
    <style>
        #Place {
            margin-left: 250px;
        }
    </style>

</head>

<section class="sec-blog bg0 p-t-60 p-b-90">
    <div class="container">
        <div class="p-b-66">
            <h4 class="ltext-105 cl5 txt-center respon1">
                Hello @Html.DisplayFor(ModelItem => ModelItem.FirstName) !
                <br />
                <br />
                we are very happy to see you in our website
            </h4>
            <br />
            <br />
            <div class="flex-c-m flex-w w-full p-t-45">
                <a div="Place" asp-controller="events" asp-action="Index" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                    To see our events, CLICK HERE
                </a>
                <br />
                <br />
                <a div="Place" asp-controller="users" asp-action="Details" asp-route-id="@Model.Id" asp- class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                    To see your account details, click here
                </a>
            </div>
        </div>
    </div>
</section>