@using TicketStore.Models;
@{ 
    //Layout = null;
   
}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title>@ViewData["Title"] - TicketStore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .navbar {
            margin-bottom: 0;
            background-color: #2d2d30;
            border: 0;
            font-size: 11px !important;
            letter-spacing: 4px;
            opacity: 0.9;
        }

            /* Add a gray color to all navbar links */
            .navbar li a, .navbar .navbar-brand {
                color: #d5d5d5 !important;
            }

        /* On hover, the links will turn white */
        .navbar-nav li a:hover {
            color: #fff !important;
        }

        /* The active link */
        .navbar-nav li.active a {
            color: #fff !important;
            background-color: #29292c !important;
        }

        /* Remove border color from the collapsible button */
        .navbar-default .navbar-toggle {
            border-color: transparent;
        }

        /* Dropdown */
        .open .dropdown-toggle {
            color: #fff;
            background-color: #555 !important;
        }

        /* Dropdown links */
        .dropdown-menu li a {
            color: #000 !important;
        }

            /* On hover, the dropdown links will turn red */
            .dropdown-menu li a:hover {
                background-color: red !important;
            }

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-default @*navbar-fixed-top*@">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"asp-controller="Home" asp-action="Index">Ticket-Store</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a asp-controller="Home" asp-action="Index">HOME</a></li>
                        <li><a asp-controller="Events" asp-action="Index">EVENTS</a></li>
                        @{


                            if (Context.User != null && Context.User.Claims != null &&
                                 Context.User.Claims.Count() > 0)
                            {
                                <li>
                                    <a asp-area="" asp-controller="users" asp-action="Logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a>
                                </li>
                                <li><a asp-controller="Tickets" asp-action="Index">My Tickets</a></li>
                                <li><a asp-controller="Users" asp-action="Details" asp-route-id="@Context.User.Claims.First(c => c.Type == "UserId").Value">My account</a></li>
                            }
                            else
                            {
                                <li>
                                    <a asp-area="" asp-controller="users" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span>Login</a>
                                </li>
                                <li><a asp-controller="Users" asp-action="Create"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>

                            }
                        }
                
                    </ul>
                </div>
            </div>
        </nav>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TicketStore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="events" asp-action="Index">Events</a>
                        </li>
                        @{


                            if (Context.User != null && Context.User.Claims != null &&
                                 Context.User.Claims.Count() > 0)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="users" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="users" asp-action="Login">Login</a>
                                </li>
                            }
                        }


                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="users" asp-action="Index">Check</a>
                        </li>
                    </ul>
                </div>


                    @if (Context.User != null && Context.User.Claims != null &&
                        Context.User.Claims.Count() > 0)
                    {
                        string name = @Context.User.Claims.FirstOrDefault(c => c.Type == "FirstName")?.Value;
                    <p class="nav-link text-dark">
                        Hello @name  &#128151;
                    </p>
                    }

              </div>

        </nav>*@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
