@model IEnumerable<TicketStore.Models.Event>

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Ticket Store</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Ticket Store</h2>
        <p>
            Ticket Store is the best place for you to find the best events and deals!
            Check it out.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Next Event</h2>
        <p>This is where i wanna put next Event by Date</p> 
        <p>
            <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="Index">Click here - Buy tickets now!</a>
                    </li>
             </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Find our website on github</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/rrttou/TicketStore">See project source code &raquo;</a></p>
    </div>
</div>