@model TicketStore.Models.Event

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Ticket Store</h1>
</div>



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            width: 100%;
            /*height: 100vh;*/
            background-color: #F5F5F5;
            display: grid;
            /* place-items: center;*/
        }
        img {
            width: 100%;
            display:block;
            height: 150%;
            object-fit: cover;
            -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
            transform-origin: center;
            transform: perspective(800px) rotateY(25deg);
            transition: 0.5s;
        }
        
        .container {
            /*max-width: 600px;
            max-height: 350px;*/
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        #hide {
            display: none;
            background-color: lightblue;
            text-align: center;
            color: #c29797;
            font-family: 'Open Sans', sans-serif;
            font-size: 34px;
            bottom: 0;
            right: 15px;
          
        }
            
            
            .container img:hover {
                transform: perspective(800px) rotateY(0deg);
                opacity: 0.3;
            }
        * {
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <h2>Welcome to Ticket Store</h2>
            <p>
                Ticket Store is the best place for you to find the best events and deals!
                Check it out.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Next Event</h2>
            <p>@Model.ArtistName</p>
            <p>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="Index">Click here - Buy tickets now!</a>
                    </li>
                </ul>
            </p>
        </div>
        @*<input type="file" />*@
        <div class="col-md-4">
            <h2>Find our website on github</h2>
            <p>You can download the completed project from GitHub.</p>
            <p><a class="btn btn-default" href="https://github.com/rrttou/TicketStore">See project source code &raquo;</a></p>
        </div>
    </div>
    <!-- MAIN (Center website) -->
    <h1>Check it out ! </h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="container">
                <a style="color:black" asp-controller="events" asp-action="Index">
                    <img class="card" src="~/img/movie.jpg">
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="container">
                <a style="color: black" asp-controller="events" asp-action="Index">
                <img class="card" src="~/img/music.jpg">
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="container">
                <a style="color: black" href="Events/Filter/?filterByGenre=Sport" @*asp-controller="events" asp-action="Index"*@>
                    <img class="card" src="~/img/sport.jpg" onmouseover="showText()" onmouseout="mouseOut()">
                    <p id="hide">Sport</p>
                </a>
            </div>
        </div>
    </div>

    <script script type="text/javascript">
        function showText() {
            document.getElementById("hide").style.display = "flex";
        }

        function mouseOut() {
            document.getElementById("hide").style.display = "none";

        }
    </script>
</body>
</html>
