@model TicketStore.Models.Event

@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>

        .navbar {
            margin-bottom: 0;
            background-color: #2d2d30;
            border: 0;
            font-size: 11px !important;
            letter-spacing: 4px;
            opacity: 0.9;
        }

             /*Add a gray color to all navbar links */
            .navbar li a, .navbar .navbar-brand {
                color: #d5d5d5 !important;
            }

         /*On hover, the links will turn white */
        .navbar-nav li a:hover {
            color: #fff !important;
        }

         /*The active link */
        .navbar-nav li.active a {
            color: #fff !important;
            background-color: #29292c !important;
        }

         /*Remove border color from the collapsible button*/ 
        .navbar-default .navbar-toggle {
            border-color: transparent;
        }

         /*Dropdown*/ 
        .open .dropdown-toggle {
            color: #fff;
            background-color: #555 !important;
        }

         /*Dropdown links*/ 
        .dropdown-menu li a {
            color: #000 !important;
        }

             /*On hover, the dropdown links will turn red */
            .dropdown-menu li a:hover {
                background-color: red !important;
            }
        .wrap {
            margin: 50px auto 0 auto;
            width: 100%;
            display: flex;
            max-width: 1200px;
        }

        .tile {
            width: 900px;
            height: 300px;
            margin: 10px;
            background-color: #99aeff;
            display: inline-block;
            background-size: cover;
            position: relative;
            cursor: pointer;
            transition: all 0.4s ease-out;
            box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
            overflow: hidden;
            color: white;
            font-family: 'Roboto';
        }

            .tile img {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                transition: all 0.4s ease-out;
            }

            .tile .text {
                /*   z-index:99; */
                position: absolute;
                padding: 30px;
                height: calc(100% - 60px);
            }

        .animate-text {
            opacity: 0;
            transition: all 0.6s ease-in-out;
        }

        .tile:hover {
            /*   background-color:#99aeff; */
            box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
            transform: scale(1.05);
        }

            .tile:hover img {
                opacity: 0.2;
            }

            .tile:hover .animate-text {
                transform: translateX(0);
                opacity: 1;
            }

            .tile:hover span {
                opacity: 1;
                transform: translateY(0px);
            }

        hr {
            display: none;
        }

        .container {
            padding: 80px 120px;
        }

        .person {
            border: 10px solid transparent;
            margin-bottom: 25px;
            width: 90%;
            height: 200px;
            opacity: 0.7;
        }

            .person:hover {
                border-color: #f1f1f1;
            }

        .carousel-inner img {
            -webkit-filter: grayscale(90%);
            filter: grayscale(90%); /* make all photos black and white */
            width: 100%; /* Set width to 100% */
            margin: auto;
        }

        /* Remove rounded borders from list */
        .list-group-item:first-child {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }

        .list-group-item:last-child {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        /* Remove border and add padding to thumbnails */
        .thumbnail {
            padding: 0 0 15px 0;
            border: none;
            border-radius: 0;
        }

            .thumbnail p {
                margin-top: 15px;
                color: #555;
            }

        /* Black buttons with extra padding and without rounded borders */
        .btn {
            padding: 10px 20px;
            background-color: #333;
            color: #f1f1f1;
            border-radius: 0;
            transition: .2s;
        }

            /* On hover, the color of .btn will transition to white with black text */
            .btn:hover, .btn:focus {
                border: 1px solid #333;
                background-color: #fff;
                color: #000;
            }

        footer {
            background-color: #2d2d30;
            color: #f5f5f5;
            padding: 32px;
        }

            footer a {
                color: #f5f5f5;
            }

                footer a:hover {
                    color: #777;
                    text-decoration: none;
                }
    </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#myPage">Ticket-Store</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-controller="Home" asp-action="Index">HOME</a></li>
                    <li><a asp-controller="Events" asp-action="Index">EVENTS</a></li>
                    @{


                        if (Context.User != null && Context.User.Claims != null &&
                             Context.User.Claims.Count() > 0)
                        {
                            <li>
                                <a asp-area="" asp-controller="users" asp-action="Logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-area="" asp-controller="users" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span>Login</a>
                            </li>
                            <li><a asp-controller="Users" asp-action="Create"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>

                        }
                    }
                    @{
                        if (Context.User.Claims.Any())

                        {
                            <li><a asp-controller="Users" asp-action="Details" asp-route-id="@Context.User.Claims.First(c => c.Type == "UserId").Value">My account</a></li>
                            if (Context.User.Claims.First(c => c.Type == "Role").Value.Equals("Admin"))
                            {

                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        MORE
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a asp-controller="Users" asp-action="Index">USERS</a></li>
                                        <li><a href="#">STATISTICS</a></li>
                                        <li><a href="#">ORDERS</a></li>
                                    </ul>
                                </li>
                            }
                        }

                    }



                </ul>
            </div>
        </div>
    </nav>




    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/img/Haifa.jpg" alt="Haifa" width="1200" height="700">
                <div class="carousel-caption">
                    <h3>Haifa</h3>
                    <p>The atmosphere in Haifa is outstanding </p>
                </div>
            </div>

            <div class="item">
                <img src="~/img/OmerAdamTelAviv.jpg" alt="Tel Aviv" width="1200" height="700">
                <div class="carousel-caption">
                    <h3 style="color: black">Tel Aviv</h3>
                    <p style="color: black">Omer Adam thanks Tel Aviv</p>
                </div>
            </div>

            <div class="item">
                <img src="~/img/BeerSheva.jpg" alt="BeerSheva" width="1200" height="700">
                <div class="carousel-caption">
                    <h3>Beer Sheva</h3>
                    <p>Take south road 6 - and you will get fixed </p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Head Text -->
    <div class="container text-center">
        <h3>Ticket Store</h3>
        <p><em>Welcome to Ticket Store</em></p>
        <p>Next Event @Model.ArtistName</p>
        @{
            if (Context.User != null && Context.User.Claims != null &&
                          Context.User.Claims.Count() > 0)
            {
                string name = @Context.User.Claims.FirstOrDefault(c => c.Type == "FirstName")?.Value;

                <br />
                <p>Hello @name &#128151; </p>
            }
        }
    </div>

    <!-- Events -->

    <div class="wrap">
        <a class="tile" href="Events/filter/?filterByGenre=Sport">
            <img src="~/img/sport2.jpg" />
            <div class="text">
                <h1>Sport</h1>
                <h2 class="animate-text">Click here to discover our sport events</h2>
            </div>
        </a>


        <a class="tile" href="Events/filter/?filterByGenre=Movie">
            <img src="~/img/movie.jpg" />
            <div class="text">
                <h1>Movies</h1>
                <h2 class="animate-text">Click here to discover our movie events</h2>
            </div>
        </a>

        <a class="tile" href="Events/filter/?filterByGenre=Music">
            <img src="~/img/music.jpg" />
            <div class="text">
                <h1>Music</h1>
                <h2 class="animate-text">Click here to discover our music events</h2>
            </div>
        </a>
    </div>

    <!-- Creators pics -->
    <!-- Creators Info inside pics -->
    <div id="band" class="container text-center">
        <h3>Who we are?</h3>
        <p><em>We love music!</em></p>
        <p>We have created a fictional events website. </p>
        <br>
        <div class="row">
            <div class="col-sm-3">
                <p class="text-center"><strong>Omer Arviv</strong></p><br>
                <a href="#demo" data-toggle="collapse">
                    <img src="~/img/omerArviv.jpg" class="img-circle person" alt="Omer Arviv" width="255" height="255">
                </a>
                <div id="demo" class="collapse">
                    <p>Full-Stack specialization</p>
                    <p>Loves surfing</p>
                </div>
            </div>
            <div class="col-sm-3">
                <p class="text-center"><strong>Raz Yaniv</strong></p><br>
                <a href="#demo2" data-toggle="collapse">
                    <img src="~/img/Raz Yaniv.jpg" class="img-circle person" alt="Raz Yaniv" width="255" height="255">
                </a>
                <div id="demo2" class="collapse">
                    <p>Data Science specialization</p>
                    <p>Loves Soccer</p>
                </div>
            </div>
            <div class="col-sm-3">
                <p class="text-center"><strong>Gil Cohen</strong></p><br>
                <a href="#demo3" data-toggle="collapse">
                    <img src="~/img/Gil Cohen.jpg" class="img-circle person" alt="Gil Cohen" width="255" height="255">
                </a>
                <div id="demo3" class="collapse">
                    <p>Full-Stack specialization</p>
                    <p>Loves Algorithms</p>
                </div>
            </div>

            <div class="col-sm-3">
                <p class="text-center"><strong>Noa Cohen</strong></p><br>
                <a href="#demo4" data-toggle="collapse">
                    <img src="~/img/check.png" class="img-circle person" alt="Noa Cohen" width="255" height="255">
                </a>
                <div id="demo4" class="collapse">
                    <p>Full-Stack specialization</p>
                    <p>Loves Photographing</p>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <!-- Map -->
    <h1 style="text-align:center;">Our location <br /></h1>
    <div id="googleMap" style="width:100%;height:400px;"></div>

    <script>
        function myMap() {
            var mapProp = {
                center: new google.maps.LatLng(31.970287, 34.772119),
                zoom: 15,
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            map.center = mapProp.center;
            map.zoom = 15;

            var marker = new google.maps.Marker({
                position: map.center,
                animation: google.maps.Animation.BOUNCE
            });

            marker.setMap(map);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoCYZEMSXqkifoIsjBGY_oejA72j2i9bw&callback=myMap"></script>

    <footer class="text-center">
        <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br><br>
        <p>Thanks for visiting </p>
    </footer>

    <script>
        $(document).ready(function () {
            // Initialize Tooltip
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>


</body>



</html>